#define IDM_MENU 10000
#define IDM_FILE_EXIT 10001
#define IDM_TOOLS_DETECTOEP 10002
#define IDM_TOOLS_CRYPTSIGN 10003
#define IDM_GENUNPACK 10004
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "Detect O&EP",IDM_TOOLS_DETECTOEP
    MENUITEM "Detect C&rypto Signatures",IDM_TOOLS_CRYPTSIGN
    MENUITEM "Generic U&npacker",IDM_GENUNPACK
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
